/* Para navegadores basados en WebKit (Chrome, Edge, Safari) */
/* ::-webkit-scrollbar {
  display: none;
} */
body {
    font-family: 'Lato', 'Roboto', sans-serif;
/*     scrollbar-width: none; /* Para Firefox
    -ms-overflow-style: none; /* Para Internet Explorer */
}

/* Definir la tipografía para toda la aplicación */
* {
    font-family: 'Lato', 'Roboto', sans-serif;
}

.img-portada {
    width: 90%;
    height: 100%;
    object-fit: cover;
}

.pruebas {
    background-color: aqua;
}